# Анализ данных A/A/B тест

In [41]:
import pandas as pd 
import numpy as np 
import datetime

import plotly as px

[1. Загрузка данных и знакомство с ними](#data_download)  
[2. Предобработка данных](#data_preprocessing)  
[3. Проверка и анализ данных](#data_check_and_analysis)

<a id='data_download'></a>
### 1. Загрузка данных и знакомство с ними

In [45]:
try:
    data = pd.read_csv('/datasets/logs_exp.csv', sep='\t')
except:
    data = pd.read_csv('/Users/juliagrobman/Downloads/logs_exp.csv',sep='\t')

In [46]:
data.head()

                 EventName         DeviceIDHash  EventTimestamp  ExpId
0         MainScreenAppear  4575588528974610257      1564029816    246
1         MainScreenAppear  7416695313311560658      1564053102    246
2  PaymentScreenSuccessful  3518123091307005509      1564054127    248
3         CartScreenAppear  3518123091307005509      1564054127    248
4  PaymentScreenSuccessful  6217807653094995999      1564055322    248

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244126 entries, 0 to 244125
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   EventName       244126 non-null  object
 1   DeviceIDHash    244126 non-null  int64
 2   EventTimestamp  244126 non-null  int64
 3   ExpId           244126 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.5+ MB

Загрузили данные. Видим, что данные в 4 солбцах и 244 тысячах строк. В следуюзем разделе переименуем столцы, изменим тип данных в столбце 'EventTimepstamp', проверим данные на дубликаты

<a id='data_preprocessing'></a>
### 2. Предобработка данных

Преименуем столбцы:

In [47]:
columns = ['event', 'id', 'timestamp','group']
data.columns = columns 
data.head()

                     event                   id   timestamp  group
0         MainScreenAppear  4575588528974610257  1564029816    246
1         MainScreenAppear  7416695313311560658  1564053102    246
2  PaymentScreenSuccessful  3518123091307005509  1564054127    248
3         CartScreenAppear  3518123091307005509  1564054127    248
4  PaymentScreenSuccessful  6217807653094995999  1564055322    248

Изменим тип данных в столбце date_time

In [48]:
data['date_time'] = data['timestamp'].map(lambda x : datetime.datetime.fromtimestamp(x))

In [50]:
data['date'] = data['date_time'].dt.date

In [51]:
data.head()

,event,id,timestamp,group,date_time,date
0,MainScreenAppear,4575588528974610257,1564029816,246,2019-07-25 07:43:36,2019-07-25
1,MainScreenAppear,7416695313311560658,1564053102,246,2019-07-25 14:11:42,2019-07-25
2,PaymentScreenSuccessful,3518123091307005509,1564054127,248,2019-07-25 14:28:47,2019-07-25
3,CartScreenAppear,3518123091307005509,1564054127,248,2019-07-25 14:28:47,2019-07-25
4,PaymentScreenSuccessful,6217807653094995999,1564055322,248,2019-07-25 14:48:42,2019-07-25

Проверим на дубликаты:

In [52]:
data.duplicated().sum()

413

Удалим дубликаты:

In [53]:
data = data.drop_duplicates()
data.duplicated().sum()

0

<a id='data_check_and_analysis'></a>
### 4. Проверка и анализ данных